<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
    <table>
        <tr><td>Tittle: </td><td>{{ entry.title }}</td></tr>
        <tr><td>Author: </td><td>{{ entry.author }}</td></tr>
        <tr><td>Publisher: </td><td>{{ entry.publisher }}</td></tr>
        <tr><td>ISBN: </td><td>{{ entry.isbn }}</td></tr>
    </table>
    </body>
</html>